@{ ViewData["Title"] = "در حال ساخت";
    ViewData["RouteMap"] = ViewData["Title"] + " - در حال ساخت";
}
<section class="content">
    <div class="container h-p100">
        <div class="row h-p100 align-items-center justify-content-center text-center">
            <div class="col-lg-7 col-md-10 col-12" style="padding-top:10%">
                <h1 class="text-danger font-size-180 font-weight-bold"> <i class="fa fa-gear fa-spin"></i></h1>
                <h1>در حال آماده سازی!</h1>
                <h3>این صفحه در حال آماده سازی می باشد.</h3>
            </div>
        </div>
    </div>
</section>