<select class="js-example-data-array form-control" id="basicUser" multiple="multiple"></select>
<script>
    $(function () {
        var listUsers = [];
        $.GetDataFence = function (maximumSelectionLength) {
            $.ajax({
                url: '@Url.Action("GetDataUsers","User")',
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    listUsers = res;
                    $("#basicUser.js-example-data-array").select2({
                        dir: "rtl",
                        data: res,
                        maximumSelectionLength: maximumSelectionLength
                    });
                }
            });
        }
        $.GetDataFence('all');
        $("#users").click(function () {
            if ($(this).is(":checked")) {
                var html = "";
                var listVal = [];
                $.each(listUsers, function (e, v) {
                    html += '<li  class="select2-selection__choice" data-select2-id="' + v.id + '" title="' + v.text + '"><span class="select2-selection__choice__remove" role="presentation">×</span>"' + v.text + '"</li>';
                    listVal.push(v.id);
                });
                $("#basicUser~.select2 ul.select2-selection__rendered").append(html);
                $("#basicUser").val(listVal);
                $('#basicUser.js-example-data-array').trigger('change');
            } else {
                $("#basicUser").val('');
                $("#basicUser~.select2 ul.select2-selection__rendered li").remove();
            }
        });
    });
</script>