@using Domain.Entities;
@model List<Domain.Entities.Languages>
@{
    ViewData["Title"] = "Languages";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - influencer</title>
    <meta content="Creative influencer marketplace to meet your brand's content needs" name="description">
    <meta content="" name="keywords">
    <meta content="www.keyvanfar.ir" name="author">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <style>
        html {
            background: url(../assets/img/Influencer.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: black;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
</head>
<body style="background: none !important;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    <div class="container">
        <br />
        <div class="row" data-aos="fade-up">
            @foreach (var item in Model)
            {
                <div class="col-md-4 text-center">
                    <a asp-action="ChangeLanguage" asp-route-culture="@item.LanguageTitle" class="btn btn-info btn-lg" style="background-color:white;opacity:0.6">
                        @switch (@item.LanguageTitle)
                        {
                            case "tr-TR":
                                <span>Turkish / Türkçe</span>
                                break;
                            case "en-US":
                                <span>English</span>
                                break;
                            case "fa-IR":
                                <span>Persian  / فارسی</span>
                                break;
                        }
                    </a>
                </div>
            }
        </div>

    </div>
    <div id="footer_land" style=" position: fixed; bottom: 0px; background: #1b1b1b; color: #ffffff; width: 100%; font-size: 25px;text-align:center">
        Adsfluencer - The bridge between influencers and brands
    </div>
</body>
</html>