@model influencer.ViewModels.Team.TeamViewModel

@{
    ViewData["Title"] = "Create Advertis";
}
<div class="container">
    <main role="main" class="pb-3">
        <h1>Create Advertis</h1>
        <hr />
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="HeadName" class="control-label"></label>
                        <input asp-for="HeadName" class="form-control" required/>
                        <span asp-validation-for="HeadName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" required/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TeamPicture" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="TeamPicture" class="custom-file-input" id="customFile" accept=".png, .jpg, .jpeg, .gif" required>
                            <label class="custom-file-label" for="customFile"></label>
                        </div>
                        <span asp-validation-for="TeamPicture" class="text-danger"></span>
                        <span class="text-danger">size : 600 * 600</span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="OrderTeam" class="control-label"></label>
                        <input asp-for="OrderTeam" class="form-control" />
                        <span asp-validation-for="OrderTeam" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Facebook" class="control-label"></label>
                        <input asp-for="Facebook" class="form-control" />
                        <span asp-validation-for="Facebook" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Instagram" class="control-label"></label>
                        <input asp-for="Instagram" class="form-control" />
                        <span asp-validation-for="Instagram" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Linkedin" class="control-label"></label>
                        <input asp-for="Linkedin" class="form-control" />
                        <span asp-validation-for="Linkedin" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Twitter" class="control-label"></label>
                        <input asp-for="Twitter" class="form-control" />
                        <span asp-validation-for="Twitter" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </main>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
